:root {
  --primary-color: #20639B;
  --secondary-color: #F6D55C;
  --success-color: #008f00;
  --wrong-color: #880404;
  --wrong-background: #ff3535;
  --success-background: #85ff85;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: white;
  background-color: var(--primary-color);
}

h1 {
  font-size: 3rem;
  color: var(--secondary-color);
}

.button {
  padding: 5px 30px;
  border-radius: 5px;
  font-size: 1.7rem;
}

.button--primary {
  color: white;
  background: var(--primary-color);
}

.button--secondary {
  color: #292827;
  background: var(--secondary-color);
}

.button--secondary:disabled {
  background: #ffeeae
}

#start-quiz, #restart-quiz {
  padding-top: 100px;
  text-align: center;
}

#restart-quiz {
  display: none;
}

#result-display {
  width: 200px;
  padding: 20px 10px;
  margin: 10px auto;
  border: 5px solid white;
  text-align: left;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .4);
}

.modal__content {
  padding: 30px 30px;
  border-radius: 10px;
  width: 650px;
  color: #292827;
  background: white;
}

.modal__footer {
  display: flex;
  align-items: center;
}

.question__title {
  padding: 5px 10px;
  border-radius: 10px;
  background: var(--secondary-color);
}

.question__alternatives {
  display: grid;
  grid-template-columns: 47% 47%;
  column-gap: 6%;
  row-gap: 20px;
  margin: 20px 0;
}

.alternative {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  border-radius: 5px;
  color: white;
  background: #74889c;
}

.alternative--check {
  color: var(--success-color);
  background: var(--success-background);
}

.alternative--check .icon--check {
  display: block;
  color: var(--success-color);
}

.alternative--wrong {
  color: var(--wrong-color);
  background: var(--wrong-background);
}

.alternative--wrong .icon--wrong {
  display: block;
  color: var(--wrong-color);
}

.icon {
  display: none;
  font-size: 1.3rem;
}

.timer {
  padding: 5px 10px;
  margin-left: 20px;
  color: white;
  background: var(--primary-color);
}

.timer__seconds {
  padding: 1px 5px;
  margin-left: 10px;
  background: #413e3c;
}